
<style type="text/css">
  .icon-pipe{
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 80px;
  line-height: 30px;
  text-align: center;
  width: 80px;
}

.icon-pipe i{
  padding-top: 3px;
  zoom: 4;
}

.pipe-steps{
  height: 100%;
  padding: 5px !important;
}

.pipe-steps-title{
  padding: 5px;
}

.pipe-steps-button{
  width: 100%;
}

.deal-card{
  border: 1px solid #EFF0F4;
  padding: 3px 3px;
  border-radius:2px;
  margin-bottom: 10px;
  z-index: 999999999;
}

.card-sortable{
  text-align: left;
  z-index: 999999999 !important;
  padding-top: 2px;
  margin-left: 6px;
  margin-right: 6px;
}

.suaClassDatePicker {
    z-index: 100000;
}

.panel-title {
  text-align: center;
  color: black;
  padding-bottom: 15px !important;
}

.editable-click {
  width: 100%
}

.panel-default {
  border-width: 1px;
  border-style: dashed;
  border-color: #5fbeaa;
}

div.control-group.form-group {
  position: relative;
  min-width: 100% !important;
}

p {
  margin: 1px 1px 1px
}




  .board {
    min-height: 290px;
    width: 107%;
    overflow-x: scroll;
  }
  .columns-fixed {
    height: 100%;
    width: 500px;
    white-space: nowrap;
  }
  .column {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .card {
    height: 200px;
    background: #F00;
    margin-bottom: 5px;
  }

  .last-collumn {
    width: 75px !important
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>Início<% end %>
      </li>
      <li>
        <%= link_to corporations_path do %>Empresas<% end %>
      </li>
      <li class="active">
        Novo
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_with(model: corporation, local: true, :html => {id: "basic-form"}) do |form| %>
          <%= form.hidden_field :corporation_type_id, id: :corporation_corporation_type_id, value: 2, required:true %>
          <div class="p-20">
            <h3>Dados da empresa</h3>
            
            <section>
              <p class="text-muted m-b-30 font-13">
                Preencha as informações principais da sua empresa. Todos os campos obrigatórios devem estar preenchidos.
              </p>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label" style="text-align: right;">NOME *</label>
                <div class="col-lg-10">
                  <%= form.text_field :name, id: :corporation_name, class: "form-control", required:true, placeholder: "Nome da empresa" %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label" style="text-align: right;">RAZÃO SOCIAL</label>
                <div class="col-lg-10">
                  <%= form.text_field :trading_name, id: :corporation_trading_name, class: "form-control", placeholder: "Razão social" %> 
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label" style="text-align: right;">CNPJ</label>
                <div class="col-lg-10">
                  <%= form.text_field :document, id: :corporation_document, class: "form-control", placeholder: "CNPJ", 'data-mask': "99.999.999/9999-99" %> 
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label" style="text-align: right;">ENDEREÇO</label>
                <div class="col-lg-5">
                  <%= form.text_field :address, id: :corporation_address, class: "form-control", placeholder: "Endereço" %>
                </div>
                <label class="col-lg-2 control-label" style="text-align: right;">TELEFONE</label>
                <div class="col-lg-3">
                  <%= form.text_field :phone, id: :corporation_phone, class: "form-control", placeholder: "Telefone", 'data-mask': "(99) 9999-9999" %> 
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label" style="text-align: right;">CIDADE</label>
                <div class="col-lg-5">
                  <%= form.text_field :city, id: :corporation_city, class: "form-control", placeholder: "Cidade" %>
                </div>
                <label class="col-lg-2 control-label" style="text-align: right;">ESTADO</label>
                <div class="col-lg-3">
                  <%= form.text_field :state, id: :corporation_state, class: "form-control", placeholder: "Estado" %>
                </div>
              </div>
            </section>
            <h3>Áreas e processos</h3>
            <section>
              <p class="text-muted m-b-30 font-13">
                Defina as áreas e processos pertencentes a sua empresa.
              </p>
              <div style="margin-left: -2% !important">
                <div class="form-group clearfix">
                  <div class="col-lg-3" style="margin-bottom: 1%">
                    <a href="#" style="width: 90%; margin-left: 1%;" class="btn btn-default waves-effect waves-light" id="inline-area" data-type="text" data-title="Nova área" data-value="">Nova área</a>
                  </div>
                  
                  <div class="board">
                    <div class="columns-fixed" id="content-areas">
                  </div>
                </div>
              </div>
            </section>
            <h3>Colaboradores</h3>
            <section>
              <p class="text-muted m-b-30 font-13">
                Insira o e-mail da pessoa que você quer adicionar à sua empresa. O usuário receberá um e-mail com um link para confirmar o convite.
              </p>
              <form id="user-form">
                <div class="form-group clearfix">
                  <label class="col-lg-2 control-label">EMAIL DO USUÁRIO</label>
                  <div class="col-lg-10">
                    <input type="email" id="email" class="form-control" data-parsley-trigger="keyup" placeholder="Email" />
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="col-lg-2 control-label">CONFIRME O EMAIL</label>
                  <div class="col-lg-10">
                    <input type="email" id="email-confirm" class="form-control" data-parsley-equalto="#email" data-parsley-trigger="keyup" placeholder="Confirmação de email" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label"></label>
                  <div class="col-lg-10">
                    <button class="btn btn-pink waves-effect waves-light" id="add_user">
                      Adicionar
                    </button>
                  </div> 
                </div> 
              </form>
              <br><br>
              
              <div id="content-table">
                <table class='table table-striped m-0'>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Email</th>
                      <th>Membro desde</th>
                      <th class="last-collumn"></th>
                    </tr>
                  </thead>
                  <tbody id='content-users'>
                  </tbody>
                </table>
              </div>
              <%= hidden_field_tag :emails_array, '', id: :emails_array %>
            </section>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    !function($) {
    "use strict";

    var SweetAlert = function() {};

    SweetAlert.prototype.init = function() {
      $("#content-areas").on('click', '.delete-area', function(event) {
        
        event.preventDefault();
        
        let area_id = this.id;

        //Warning Message
        swal({   
            title: "Confirmar exclusão?",
            text: "Ao remover uma área, seus processos são automaticamente removidos!",   
            type: "error",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim, remover!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false 
        }, function(){
          console.log(area_id);
          $.ajax({
            type: "GET",
            url: "/areas/delete_area",
            data: {
              "id": area_id
            },
            success: function(data) {
              $('[data-area-expand-id="' + area_id +'"]').remove();
              swal("Pronto!", "Esse item foi removido com sucesso!", "success");
            }
          }); 
        });
      });

      getAreas();

      function getAreas() {
        $.ajax({
          type: "GET",
          url: "/areas/get_areas_by_corporation",
          data: {
            "id": <%= @corporation.id %>
          },
          success: function(data) {
            for(let i = 0; i < data.length; i++) {
              $("#content-areas").append("<div class='column' data-area-expand-id='" + data[i].id + "'>\
              <div class='col-lg-3' style='width: 100%;margin-left: 1%;' data-area-id='" + data[i].id + "'>\
                <div class='panel panel-default'>\
                  <div class='panel-heading pipe-steps-title'>\
                    <div class='contact-action'>\
                      <div class='row'>\
                        <div class='col-md-10'>\
                          <h4 class='panel-title'><a href='#ç' class='popover-created-area'>"+data[i].name+"</a>\
                          </h4>\
                        </div>\
                        <div class='col-md-2'>\
                          <button id='" + data[i].id + "' class='btn btn-icon waves-effect waves-light btn-danger btn-xs delete-area'><i class='fa fa-times'></i></button></td>\
                        </div>\
                      </div>\
                      <div id='content-process-" + data[i].id + "'></div>\
                      <div class='pipe-steps'>\
                        <a href='#' class='btn btn-default waves-effect waves-light pipe-steps-button' id='inline-process-" + data[i].id + "' data-type='text' data-value=''>Novo processo</a>\
                      </div>\
                    </div>\
                  </div>\
                </div>  \
                </div>  \
              </div>");  

              $('#inline-area').editable('setValue', "");
              $('#inline-area').text("Nova área");

              $("#inline-process-" + data[i].id).editable({
                type: 'text',
                pk: data[i].id,
                name: 'process',
                title: 'Novo processo',
                mode: 'inline',
                showbuttons: false,
                success: function(response, newValue) {
                  create_process(data[i].id, newValue);
                }
              });

              $('.popover-created-area').editable({
                 type: 'text',
                 pk: data[i].id,
                 name: 'area',
                 title: 'Editar area',
                 placement: 'bottom',
                 showbuttons: false,
                 success: function(response, newValue) {
                   edit_area(data[i].id, newValue);
                }
              });
            }

            getProcess();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
            alert(thrownError);
          }
        })
      }

      function getProcess() {
        $.ajax({
          type: "GET",
          url: "/process_depts/get_process_by_corporation",
          data: {
            "id": <%= @corporation.id %>
          },
          success: function(data) {
            for(let i = 0; i < data.length; i++) {
              $('#content-process-'+data[i].area_id).append("<div class='row card-sortable' data-process-id='" + data[i].id + "'>\
                <div class='panel deal-card' style='text-align: center'>\
                  <div class='row'>\
                    <div class='col-md-10'>\
                      <p><a href='#' class='popover-created-process'>" + data[i].name + "</a></p>\
                    </div>\
                    <div class='col-md-2'>\
                      <button id='" + data[i].id + "' class='btn btn-icon waves-effect waves-light btn-danger btn-xs delete-process'><i class='fa fa-times'></i></button></td>\
                    </div>\
                  </div>\
                </div>\
              </div>");

              $('#inline-process-'+data[i].area_id).editable('setValue', "");
              $('#inline-process-'+data[i].area_id).text("Novo processo");

              $('.popover-created-process').editable({
                 type: 'text',
                 pk: data[i].id,
                 name: 'process',
                 title: 'Editar processo',
                 showbuttons: false,
                 success: function(response, newValue) {
                   edit_process(data[i].id, newValue);
                }
              });
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
            alert(thrownError);
          }
        })
      }

      $("#content-areas").on('click', '.delete-process', function(event) {
        event.preventDefault();
        
        let process_id = this.id;

        //Warning Message
        swal({   
            title: "Confirmar exclusão?",   
            text: "A exclusão de um processo não poderá ser desfeita!",   
            type: "error",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Sim, remover!",
            closeOnConfirm: false 
        }, function(){
          $.ajax({
            type: "GET",
            url: "/process_depts/delete_process",
            data: {
              "id": process_id
            },
            success: function(data) {
              $('[data-process-id="' + process_id +'"]').remove();
              swal("Pronto!", "Esse item foi removido com sucesso!", "success");
            }
          }); 
        });
      });
    }




    getUsers();

    function getUsers() {
      $.ajax({
        type: "GET",
        url: "/corporations/get_users_by_corporation",
        data: {
          "corporation_id": <%= @corporation.id %>
        },
        success: function(data) {
          let arr = [];

          for(let i = 0; i < data.length; i++) {
            let row = "";
            row = "<tr data-user-expand-id="+data[i].corporation_users_id+">\
              <th scope='row'>#</th>\
              <td>"+data[i].email+"</td>\
              <td><span class='label label-table label-primary'>"+formatDate(new Date(data[i].created_at))+"</span></td>";

            if (data[i].admin != true) {
              row += "<td><button class='btn btn-icon waves-effect waves-light btn-danger btn-xs remove-user' title='Excluir' data-id="+data[i].corporation_users_id+" data-email="+data[i].email+"><i class='fa fa-times'></i></button></td>";
            } else {
              row += "<td><span class='label label-table label-success'>Admin</span></td>";
            }
              
            row += "</tr>";

            $("#content-users").append(row);
            arr.push(data[i].email);
          }

          var newValue = arr.join(',');

          jQuery("#emails_array").val(newValue);

        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
        }
      })
    }


    $("#content-users").on('click', '.remove-user', function(event) {
      event.preventDefault();

      let corporation_user_id = $(this).attr('data-id');
      let corporation_user_email = $(this).attr('data-email');
      
      swal({   
          title: "Confirmar exclusão?",
          text: "Deseja remover as permissões desse usuário?",   
          type: "error",
          showCancelButton: true,   
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Sim, remover!",
          cancelButtonText: "Cancelar",
          closeOnConfirm: false
      }, function(){

        console.log(corporation_user_id)
        $.ajax({
          type: "GET",
          url: "/corporation_users/delete_corporation_user",
          data: {
            "id": corporation_user_id
          },
          success: function(data) {
            $('[data-user-expand-id="' + corporation_user_id +'"]').remove();
            
            var oldValue = jQuery("#emails_array").val();
            var arr = oldValue === "" ? [] : oldValue.split(',');
            arr = arr.filter(e => e !== corporation_user_email);
            var newValue = arr.join(',');
            jQuery("#emails_array").val(newValue);
            
            
            swal("Pronto!", "Usuário desvinculado com sucesso!", "success");
          }
        }); 
      });
    })









    $("#add_user").click(function(e){
      e.preventDefault();

      $(this).prop("disabled",true);
      $(this).html('Aguarde...');

      let oldValue = jQuery("#emails_array").val();
      let arr = oldValue === "" ? [] : oldValue.split(',');

      if(arr.includes($("#email").val())) {
        swal("Ops, usuário já adicionado!", "Esse usuário já está relacionado a esta empresa.", "error");
        $("#add_user").prop("disabled",false);
        $("#add_user").html('Adicionar');
        return;
      }

      if($("#email").val() === '' || $("#email-confirm").val() === '') {
        $("#add_user").prop("disabled",false);
        $("#add_user").html('Adicionar');
        return;
      }

      $.ajax({
        type: "GET",
        url: "/corporation_users/create_corporation_user",
        data: {
          "email": $("#email").val(),
          "corporation_id": <%= @corporation.id %>
        },
        success: function(data) {
          console.log(data)
          let row = "";

          row = "<tr data-user-expand-id="+data.corporation_users_id+">\
            <th scope='row'>#</th>\
            <td>"+data.email+"</td>\
            <td><span class='label label-table label-primary'>"+formatDate(new Date(data.created_at))+"</span></td>";

          if (data.admin != true) {
            row += "<td><button class='btn btn-icon waves-effect waves-light btn-danger btn-xs remove-user' title='Excluir' data-id="+data.corporation_users_id+"><i class='fa fa-times'></i></button></td>";
          } else {
            row += "<td></td>";
          }
            
          row += "</tr>";

          $("#content-users").append(row);

          var oldValue = jQuery("#emails_array").val();
          var arr = oldValue === "" ? [] : oldValue.split(',');
          arr.push(data.email);
          var newValue = arr.join(',');
          jQuery("#emails_array").val(newValue);

          swal("Pronto!", "Usuário adicionado com sucesso!", "success");
          $("#add_user").prop("disabled",false);
          $("#add_user").html('Adicionar');

          $("#email").val('');
          $("#email-confirm").val('');
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
          $("#email").val('');
          $("#email-confirm").val('');
        }
      })
    })

    $('#inline-area').editable({
       type: 'text',
       pk: 1,
       name: 'area',
       title: 'Nova área',
       mode: 'inline',
       success: function(response, newValue) {
         create_area(newValue);
      }
    });

    function create_area(name) {
      $.ajax({
        type: "GET",
        url: "/areas/create_area_exist_corporation",
        data: {
          "corporation_id": <%= @corporation.id %>,
          "name": name
        },
        success: function(data) {
          $("#content-areas").append("<div class='column' data-area-expand-id='" + data.id + "'>\
          <div class='col-lg-3' style='width: 100%;margin-left: 1%;' data-area-id='" + data.id + "'>\
              <div class='panel panel-default'>\
                <div class='panel-heading pipe-steps-title'>\
                  <div class='contact-action'>\
                    <div class='row'>\
                      <div class='col-md-10'>\
                        <h4 class='panel-title'><a href='#ç' class='popover-created-area'>"+data.name+"</a>\
                        </h4>\
                      </div>\
                      <div class='col-md-2'>\
                        <button id='" + data.id + "' class='btn btn-icon waves-effect waves-light btn-danger btn-xs delete-area'><i class='fa fa-times'></i></button></td>\
                      </div>\
                    </div>\
                    <div id='content-process-" + data.id + "'></div>\
                    <div class='pipe-steps'>\
                      <a href='#' class='btn btn-default waves-effect waves-light' id='inline-process-" + data.id + "' data-type='text' data-value=''>Novo processo</a>\
                    </div>\
                  </div>\
                </div>\
              </div>  \
              </div>  \
            </div>");

          $('#inline-area').editable('setValue', "");
          $('#inline-area').text("Nova área");

          $("#inline-process-" + data.id).editable({
            type: 'text',
            pk: data.id,
            name: 'process',
            title: 'Novo processo',
            mode: 'inline',
            showbuttons: false,
            success: function(response, newValue) {
              create_process(data.id, newValue);
            }
          });

          $('.popover-created-area').editable({
             type: 'text',
             pk: data.id,
             name: 'area',
             title: 'Editar area',
             placement: 'bottom',
             showbuttons: false,
             success: function(response, newValue) {
               edit_area(data.id, newValue);
            }
          });
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
        }
      });
    }


    function edit_area(area_id, name) {
      $.ajax({
        type: "GET",
        url: "/areas/edit_area",
        data: {
          "area_id": area_id,
          "name": name
        },
        success: function(data) {
          
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
        }
      });
    }


    function create_process(area_id, name) {
      $.ajax({
        type: "GET",
        url: "/process_depts/create_process",
        data: {
          "area_id": area_id,
          "name": name
        },
        success: function(data) {
          $('#content-process-'+data.area_id).append("<div class='row card-sortable' data-process-id='" + data.id + "'>\
                                                        <div class='panel deal-card' style='text-align: center'>\
                                                          <div class='row'>\
                                                            <div class='col-md-10'>\
                                                              <p><a href='#' class='popover-created-process'>" + data.name + "</a></p>\
                                                            </div>\
                                                            <div class='col-md-2'>\
                                                              <button id='" + data.id + "' class='btn btn-icon waves-effect waves-light btn-danger btn-xs delete-process'><i class='fa fa-times'></i></button></td>\
                                                            </div>\
                                                          </div>\
                                                        </div>\
                                                      </div>");

          $('#inline-process-'+data.area_id).editable('setValue', "");
          $('#inline-process-'+data.area_id).text("Novo processo");

          $('.popover-created-process').editable({
             type: 'text',
             pk: data.id,
             name: 'process',
             title: 'Editar processo',
             showbuttons: false,
             success: function(response, newValue) {
               edit_process(data.id, newValue);
            }
          });
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
        }
      });
    }

    function edit_process(process_id, name) {
      $.ajax({
        type: "GET",
        url: "/process_depts/edit_process",
        data: {
          "process_id": process_id,
          "name": name
        },
        success: function(data) {
          
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
          alert(thrownError);
        }
      });
    }

    $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert
    }(window.jQuery),

    //initializing 
    function($) {
        "use strict";
        $.SweetAlert.init()
    }(window.jQuery);
  });
</script>