<!-- <div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Empresas</h4>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>Início<% end %>
      </li>
      <li class="active">
        Empresas
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title"><b></b></h4>
      <%= link_to new_corporation_path, class: "btn btn-default btn-md waves-effect waves-light m-b-30" do %>
        Nova empresa
      <% end %>
      
      <table data-toggle="table"
           data-show-columns="false"
           data-page-size="5"
           data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
        <thead>
          <tr>
            <th>#</th> 
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @corporations.each do |corporation| %>
            <tr>
              <td><%= corporation.id.to_s.rjust(3,'0') %></td>
              <td><%= corporation.name %></td>
              <td><%= corporation.address %></td> 
              <td><%= corporation.city %></td> 
              <td><%= corporation.state %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_corporation_path(corporation), class: 'btn btn-icon waves-effect waves-light btn-primary btn-xs', title: 'Editar' %>
                <%= link_to '<i class="fa fa-times"></i>'.html_safe, corporation, method: :delete, data: { confirm: 'Ao remover uma empresa, registros de projetos e colaboradores vinculados a ela também serão removidos. Confirmar exclusão?' }, class: 'btn btn-icon waves-effect waves-light btn-danger btn-xs', title: 'Excluir' %></td>
            </tr>
          <% end %> 
        </tbody>
      </table>
    </div>
  </div>
</div> -->