
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Contratos</h4>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>Início<% end %>
      </li>
      <li class="active">
        <%= link_to contracts_path do %>Contratos<% end %>
      </li>
      <li class="active">
        Novo
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title"><b>Cadastro de contratos</b></h4>
      <p class="text-muted m-b-30 font-13">
        Preencha todas as etapas do formulário
      </p>
                  
      <%= form_with(model: contract, local: true, :html => {id: "basic-form"}) do |form| %>
        <% if contract.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

            <ul>
            <% contract.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="p-20">
          <h3>Dados do contrato</h3>
          <section>
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">CLIENTE *</label>
              <div class="col-lg-10">
                <%= form.select(:client_id, Client.all.joins("inner join corporation_users on corporation_users.corporation_id = clients.corporation_id").where("corporation_users.user_id = #{User.current.id}").collect {|u| [u.name, u.id]}, {}, {class: "form-control select2"}) %>
              </div>
            </div>
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">NOME *</label>
              <div class="col-lg-10">
                <%= form.text_field :name, id: :contract_name, class: "form-control", required:true, placeholder: "Nome do contrato" %> 
              </div>
            </div>
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">ESCOPO *</label>
              <div class="col-lg-10">
                <%= form.text_area :scope, id: :contract_scope, class: "form-control", required:true, placeholder: "Escopo" %> 
              </div>
            </div>
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">TIPO DO CONTRATO *</label>
              <div class="col-lg-10">
                <%= form.select(:contract_type,
                        [ ['Escopo aberto'],
                          ['Produto'],
                          ['Assinatura'],
                          ['Misto']],
                          {:include_blank => false}, { class: 'form-control contract_type' }) %>
              </div>
            </div>

            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">DATA DE ASSINATURA DO CONTRATO *</label>
              <div class="col-lg-10">
                <%= form.text_field :signature_date, id: :contract_signature_date, :class => "form-control", required:true, :placeholder => "dd/mm/yyyy", required: true, 'data-mask': "99/99/9999" %>
                    <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
              </div>
            </div>

            <hr/>
            <h1>CONTROLE DE HORAS</h1>

            <div id="scope_page_two">
              <p>Escopo aberto: </p>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                  <span>Não tem atribuição de horas (Crédito)</span>
                </div>
              </div>
            </div>

            <div id="pag_dois_produtos">
              <p>Produto: </p>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VOLUME DE TICKETS *</label>
                <div class="col-lg-10">
                  <%= form.text_field :hours_volume, id: :contract_hours_volume, class: "form-control", placeholder: "Volume de tickets contratados" %>
                </div>
              </div>
            </div>

            <div id="pag_dois_assinaturas_sec_um">
              <p>Assinatura:</p>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VOLUME DE TICKETS RECORRENTES *</label>
                <div class="col-lg-10">
                  <%= form.number_field :recurrent_tickets, id: :contract_recurrent_tickets, class: "form-control", placeholder: "Volume de tickets recorrentes" %>
                </div>
              </div>
            </div>
            
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">MODELO DE ATRIBUIÇÃO *</label>
              <div class="col-lg-10">
                <%= form.select(:attribuition_model,
                        [ ['Semanal'],
                          ['Quinzenal'],
                          ['Mensal'],
                          ['Trimestral'],
                          ['Semestral'],
                          ['Anual'] ],
                          { :selected => @contract.attribuition_model, :include_blank => false }, { class: 'form-control attribuition_model' }) %>
              </div>
            </div>
            <div class="form-group clearfix" id="week_day">
              <label class="col-lg-2 control-label">DIA DA SEMANA DO CRÉDITO DE HORAS *</label>
              <div class="col-lg-10">
                <%= form.select(:attribuition_model_week_day,
                        [ ['Domingo'],
                          ['Segunda-feira'],
                          ['Terça-feira'],
                          ['Quarta-feira'],
                          ['Quinta-feira'],
                          ['Sábado'] ],
                          { :include_blank => false }, { class: 'form-control' }) %>
              </div>
            </div>
            
            <div id="pag_dois_assinaturas_sec_dois">
              <div class="form-group clearfix" id="month_day">
                <label class="col-lg-2 control-label">DIA DO MÊS DO CREDITO DE HORAS *</label>
                <div class="col-lg-10">
                  <%= form.number_field :attribuition_model_day, id: :contract_attribuition_model_day, :class => "form-control", :placeholder => "Dia de credito de horas" %>
                </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">DIA DO MÊS INEXISTENTE *</label>
              <div class="col-lg-10">
                <%= form.select(:attribuition_model_invalid_day,
                        [ ['Porstergar'],
                          ['Antecipar'] ],
                          {:include_blank => false}, { class: 'form-control' }) %>
              </div>
            </div>
            
            <div id="pag_dois_assinaturas_sec_tres">
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">TOLERANCIA DE TICKETS *</label>
                <div class="col-lg-10">
                  <%= form.text_field :tolerance, id: :contract_tolerance, class: "form-control", placeholder: "Tolerância de tickets excedentes" %>
                </div>
              </div>

              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VALIDADE *</label>
                <div class="col-lg-10">
                  <%= form.number_field :attribuition_model_validate_day, id: :contract_attribuition_model_validate_day, class: "form-control", placeholder: "Validade" %>
                </div>
              </div>
            </div>

            <hr/>
            <h1>INFORMACOES DE PAGAMENTO</h1>

            <p>Informações gerais</p>
            
            <div id="totals">
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VALOR DO TICKET *</label>
                <div class="col-lg-10">
                  <%= form.text_field :amount_ticket, id: :contract_amount_ticket, class: "form-control autonumber", placeholder: "Valor do ticket", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VALOR DO TICKET RECORRENTE *</label>
                <div class="col-lg-10">
                  <%= form.text_field :recurring_amount_ticket, id: :contract_recurring_amount_ticket, class: "form-control autonumber", placeholder: "Valor do ticket recorrente", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">DIA DO FATURAMENTO *</label>
                <div class="col-lg-10">
                  <%= form.number_field :billing_day, id: :contract_billing_day, required: true, class: "form-control", placeholder: "Dia do faturamento" %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">DIA DE VENCIMENTO *</label>
                <div class="col-lg-10">
                  <%= form.number_field :maturity_day, id: :contract_maturity_day, required: true, class: "form-control", placeholder: "Dia de vencimento" %>
                </div>
              </div>
            </div>


            <p>Escopo aberto</p>
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label"></label>
              <div class="col-lg-10">
                <span>Não tem especificidade de pagamento</span>
              </div>
            </div>

            

            <p>Produto</p>
            <!-- <p>valor to ticket * volume de ticket (R$)</p> -->
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">TOTAL DO CONTRATO *</label>
              <div class="col-lg-10">
                <%= form.text_field :total, id: :contract_total, class: "form-control autonumber", placeholder: "Total do contrato", :data => { "a-sep" => '', "a-dec" => "," } %>
              </div>
            </div>
            <div id="pag_tres_produtos">
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">ENTRADA *</label>
                <div class="col-lg-10">
                  <%= form.text_field :input_value, id: :contract_input_value, class: "form-control autonumber", placeholder: "Valor de entrada", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">DATA DA ENTRADA *</label>
                <div class="col-lg-10">
                  <%= form.text_field :billing_date, id: :contract_billing_date, :class => "form-control", :placeholder => "dd/mm/yyyy", 'data-mask': "99/99/9999" %>
                    <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">NÚMERO DE PARCELAS *</label>
                <div class="col-lg-10">
                  <%= form.number_field :quotas, id: :contract_quotas, class: "form-control", placeholder: "Quantidade de parcelas" %>
                </div>
              </div>
              
            </div>
            <!-- <p>(valor do contrato - entrada) / parcelas</p> -->
            <div class="form-group clearfix">
              <label class="col-lg-2 control-label">VALOR DA PARCELA *</label>
              <div class="col-lg-10">
                <%= form.text_field :quota_amount, id: :contract_quota_amount, class: "form-control autonumber", placeholder: "Valor da parcela", :data => { "a-sep" => '', "a-dec" => "," }, :disabled => true %>
              </div>
            </div>
            
            <p>Assinatura</p>
            <!-- <p>valor to ticket * volume de ticket recorrente (R$)</p> -->
            <div id="pag_tres_assinaturas">
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VALOR DA HORA EXTRA</label>
                <div class="col-lg-10">
                  <%= form.text_field :extra_hour_amount, id: :contract_extra_hour_amount, class: "form-control autonumber", placeholder: "Valor da hora extra", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">VALOR DO TICKET EXCEDENTE *</label>
                <div class="col-lg-10">
                  <%= form.text_field :overplus_ticket_amout, id: :contract_overplus_ticket_amout, class: "form-control autonumber", placeholder: "Valor do ticket excedente", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-lg-2 control-label">TOTAL DO CONTRATO RECORRENTE *</label>
                <div class="col-lg-10">
                  <%= form.text_field :recurrent_amount, id: :contract_recurrent_amount, class: "form-control autonumber", placeholder: "Valor recorrente", :data => { "a-sep" => '', "a-dec" => "," } %>
                </div>
              </div>
            </div>
          </section>

          <!-- USE HERE -->
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {


    $("#week_day").hide();

    $('select[name="contract[attribuition_model]"]').change(function() {
      if($(this).val() == 'Semanal' || $(this).val() == 'Quinzenal') {
        $("#week_day").show();
        $("#month_day").hide();
      } else {
        $("#month_day").show();
        $("#week_day").hide();
      }
    })

    if($('select[name="contract[attribuition_model]"]').val() == 'Semanal' || $('select[name="contract[attribuition_model]"]').val() == 'Quinzenal') {
      $("#week_day").show();
      $("#month_day").hide();
    } else {
      $("#month_day").show();
      $("#week_day").hide();
    }



    $('#contract_total, #contract_hours_volume, #contract_recurrent_tickets, #contract_amount_ticket, #contract_recurrent_amount, select[name="contract[attribuition_model]"], #recurring_amount_ticket').change(function() {


      if ($(".contract_type").val() == 'Produto' && 
          $("#contract_total").val() != '' && 
          $("#contract_hours_volume").val() != '') {







        // PRODUTO

        //valor do ticket = total do contrato / volume de tickets

        let totalContract = $("#contract_total").val();
        
        if (parseInt(totalContract) >= 0) {
          let result = (parseFloat(totalContract) / parseInt($("#contract_hours_volume").val()));

          $("#contract_amount_ticket").val(result.toFixed(2).replace('.', ','));
        } else {
          $("#contract_amount_ticket").val('');
        }









      } else if ($(".contract_type").val() == 'Assinatura' && 
                 $("#contract_recurrent_tickets").val() != '' &&
                 $("#contract_recurrent_amount").val() != '') {

        // ASSINATURA

        // valor do ticket = ?

        // Cálculo indireto
        // Se Mensal -> [Valor do Ticket = Total Recorrente / Volume de Tickets Recorrentes]
        // Se Semanal -> [Valor do Ticket = (Total Recorrente * 12) / (Volume de Tickets Recorrentes*52)]



        let amount_ticket = $("#contract_recurring_amount_ticket").val();

        let attribuitionModel = $('select[name="contract[attribuition_model]"]').val();

        // volume de tickets
        let amountTicket = $("#contract_recurrent_tickets").val();

        // total recorrente
        let recurrentAmount = $("#contract_recurrent_amount").val()


        if(attribuitionModel == 'Mensal') {
          let result = parseFloat(recurrentAmount) / parseInt(amountTicket);
          $("#contract_recurring_amount_ticket").val(result.toFixed(2).replace('.', ','));
        } else if (attribuitionModel == 'Semanal') {



          let result = (parseFloat(recurrentAmount) * 12) / (parseInt(amountTicket) * 52);
          $("#contract_recurring_amount_ticket").val(result.toFixed(2).replace('.', ','));



        } else {
          $("#week_day").hide();
        }





 
      } else if ($(".contract_type").val() == 'Misto') {
        

        // MISTO



        let totalContract = $("#contract_total").val();
        let totalRecurrent = $("#contract_recurrent_amount").val();

        if(totalContract != '' && $("#contract_hours_volume").val() != '') {
          let totalContract = $("#contract_total").val();
        
          if (parseInt(totalContract) >= 0) {
            let result = (parseFloat(totalContract) / parseInt($("#contract_hours_volume").val())) * 1000;

            $("#contract_amount_ticket").val(result.toFixed(2).replace('.', ','));
          } else {
            $("#contract_amount_ticket").val('');
          }
        }

        if(totalRecurrent != '' && $("#contract_recurrent_tickets").val() != '') {
          let amount_ticket = $("#contract_recurring_amount_ticket").val();

          let attribuitionModel = $('select[name="contract[attribuition_model]"]').val();

          // volume de tickets
          let amountTicket = $("#contract_recurrent_tickets").val();

          // total recorrente
          let recurrentAmount = $("#contract_recurrent_amount").val()


          if(attribuitionModel == 'Mensal') {
            let result = parseFloat(recurrentAmount) / parseInt(amountTicket);
            $("#contract_recurring_amount_ticket").val(result.toFixed(2).replace('.', ','));
          } else if (attribuitionModel == 'Semanal') {



            let result = (parseFloat(recurrentAmount) * 12) / (parseInt(amountTicket) * 52);
            $("#contract_recurring_amount_ticket").val(result.toFixed(2).replace('.', ','));



          } else {
            $("#week_day").hide();
          }
        }




      }
    });

    

    $("#contract_total, #contract_input_value, #contract_quotas").change(function() {
    
      if ($(".contract_type").val() == 'Produto' && 
          $("#contract_total").val() != '' && $("#contract_input_value").val() != '' && $("#contract_quotas").val() != '') {
        let totalContract = parseFloat($("#contract_total").val().replace('.', '').replace(',', '.'));
        let inputContract = parseFloat($("#contract_input_value").val());
        let quotas = parseInt($("#contract_quotas").val());

        let minus = totalContract - inputContract;

        let result = minus / quotas;

        $("#contract_quota_amount").val(result.toFixed(2).replace('.', ','))
      }
    });






    if ($(".contract_type").val() == 'Escopo aberto') {
      scopeChanges();
    } else if ($(".contract_type").val() == 'Produto') {
      productChanges();
    } else if ($(".contract_type").val() == 'Assinatura') {
      signatureChanges();
    } else {
      mixChanges(); 
    }


    $(".contract_type").change(function(){
      cleanValues();
      
      if ($(this).val() == 'Escopo aberto') {
        scopeChanges();
      } else if ($(this).val() == 'Produto') {
        productChanges();
      } else if ($(this).val() == 'Assinatura') {
        signatureChanges();
      } else {
        mixChanges();
      }
    })



    if ($(".attribuition_model").val() == 'Semanal' || $(".attribuition_model").val() == 'Quinzenal') {
      $("#attribuition_model_day, #attribuition_model_invalid").hide();
      $("#attribuition_model_week").show();
    } else {
      $("#attribuition_model_day, #attribuition_model_invalid").show();
      $("#attribuition_model_week").hide();
    }


    $(".attribuition_model").change(function(){
      if ($(".attribuition_model").val() == 'Semanal' || $(".attribuition_model").val() == 'Quinzenal') {
        $("#attribuition_model_day, #attribuition_model_invalid").hide();
        $("#attribuition_model_week").show();
      } else {
        $("#attribuition_model_day, #attribuition_model_invalid").show();
        $("#attribuition_model_week").hide();
      }
    })



    // Valida o campo de dia de pagamento, para que so seja possivel inserir numeros
    $("#contract_billing_day, #contract_maturity_day, #contract_attribuition_model_day").change(function(){
      var val = Math.abs(parseInt(this.value, 10) || 1);
      this.value = val > 31 ? 31 : val;
    });

    $("#contract_amount_ticket, #contract_hours_volume, #contract_recurrent_tickets, #contract_attribuition_model_day, #contract_tolerance, #contract_total, #contract_quotas").change(function(){
      this.value = parseInt(this.value) <= 0 ? '' : this.value;
    });








    function cleanValues() {
      $("#pag_dois_produtos :input").val('');
      $("#pag_dois_assinaturas_sec_um :input").val('');
      $("#pag_dois_assinaturas_sec_dois :input").val('');
      $("#pag_dois_assinaturas_sec_tres :input").val('');
      $("#pag_tres_produtos :input").val('');
      $("#pag_tres_assinaturas :input").val('');
      $("#totals :input").val('');
      $("#contract_total").val('');
    }






    function scopeChanges() {
      $("#pag_dois_produtos :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_um :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_dois :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_tres :input").attr("disabled", true);
      $("#pag_tres_produtos :input").attr("disabled", true);
      $("#pag_tres_assinaturas :input").attr("disabled", true);


      $("#pag_dois_produtos :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_um :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_dois :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_tres :input").attr("required", false);
      $("#pag_tres_produtos :input").attr("required", false);
      $("#pag_tres_assinaturas :input").attr("required", false);

    
      $("#basic-form :input").removeClass("parsley-error");
      $(".parsley-errors-list").hide();



      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').attr("disabled", true);
      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').prop('selectedIndex', 0);
      $("#contract_total").attr("disabled", true);
      $("#contract_amount_ticket").attr("disabled", false);
      $("#contract_recurring_amount_ticket").attr("disabled", true)
    }

    function productChanges() {
      $("#pag_dois_produtos :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_um :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_dois :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_tres :input").attr("disabled", true);
      $("#pag_tres_produtos :input").attr("disabled", false);
      $("#pag_tres_assinaturas :input").attr("disabled", true);



      $("#pag_dois_produtos :input").attr("required", true);
      $("#pag_dois_assinaturas_sec_um :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_dois :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_tres :input").attr("required", false);
      $("#pag_tres_produtos :input").attr("required", true);
      $("#pag_tres_assinaturas :input").attr("required", false);


      $("#basic-form :input").removeClass("parsley-error");
      $(".parsley-errors-list").hide();
      


      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').attr("disabled", true);
      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').prop('selectedIndex', 0);
      $("#contract_total").attr("disabled", false);
      $("#contract_amount_ticket, #contract_recurring_amount_ticket").attr("disabled", true)
    }

    function signatureChanges() {
      $("#pag_dois_produtos :input").attr("disabled", true);
      $("#pag_dois_assinaturas_sec_um :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_dois :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_tres :input").attr("disabled", false);
      $("#pag_tres_produtos :input").attr("disabled", true);
      $("#pag_tres_assinaturas :input").attr("disabled", false);


      $("#pag_dois_produtos :input").attr("required", false);
      $("#pag_dois_assinaturas_sec_um :input").attr("required", true);
      $("#pag_dois_assinaturas_sec_tres :input").attr("required", true);
      $("#pag_tres_produtos :input").attr("required", false);
      $("#pag_tres_assinaturas :input").attr("required", true);


      $("#basic-form :input").removeClass("parsley-error");
      $(".parsley-errors-list").hide();


      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').attr("disabled", false);
      $("#contract_total").attr("disabled", true);
      $("#contract_amount_ticket, #contract_recurring_amount_ticket").attr("disabled", true)
    }

    function mixChanges() {
      $("#pag_dois_produtos :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_um :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_dois :input").attr("disabled", false);
      $("#pag_dois_assinaturas_sec_tres :input").attr("disabled", false);
      $("#pag_tres_produtos :input").attr("disabled", false);
      $("#pag_tres_assinaturas :input").attr("disabled", false);


      $("#pag_dois_produtos :input").attr("required", true);
      $("#pag_dois_assinaturas_sec_um :input").attr("required", true);
      $("#pag_dois_assinaturas_sec_dois :input").attr("required", true);
      $("#pag_dois_assinaturas_sec_tres :input").attr("required", true);
      $("#pag_tres_produtos :input").attr("required", true);
      $("#pag_tres_assinaturas :input").attr("required", true);


      $("#basic-form :input").removeClass("parsley-error");
      $(".parsley-errors-list").hide();


      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').attr("disabled", false);
      $('select[name="contract[attribuition_model]"], select[name="contract[attribuition_model_week_day]"], select[name="contract[attribuition_model_invalid_day]"]').prop('selectedIndex', 0);
      $("#contract_amount_ticket, #contract_recurring_amount_ticket").attr("disabled", true)
      $("#contract_total").attr("disabled", false);
    }

    function checkNumericValue(num){
      var objRegExp = /(^-?\d\d*\.\d*$)|(^-?\d\d*$)|(^-?\.\d\d*$)/;
      return objRegExp.test(num);
    }

    jQuery('#contract_signature_date, #contract_billing_date, #contract_first_billing_date').datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "dd/mm/yyyy",
      language: 'pt-BR'
    });

    jQuery(function($) {
      $('.autonumber').autoNumeric('init');    
    });
  });



  //modelo de atribuicao:

  //se for semanal ou quinzenal, pedir o dia da semana pra creditar as horas
  //se mensal ou nos demais casos, pedir o dia do mes
</script>



