<style type="text/css">
  .last-collumn {
    width: 75px !important
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Projetos</h4>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>Início<% end %>
      </li>
      <li class="active">
        Projetos
      </li>
    </ol>
  </div>
</div>

<% if @corporations > 0 %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="m-t-0 header-title"><b></b></h4>
        <%= link_to new_project_path, class: "btn btn-default btn-md waves-effect waves-light m-b-30" do %>
          Novo projeto
        <% end %>
        
        <table data-toggle="table"
             data-show-columns="false"
             data-page-size="5"
             data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
          <thead>
            <tr>
              <th width="100">#</th> 
              <th width="800">Nome</th>
              <th width="800">Empresa</th>
              <th width="800">Contrato</th>
              <th width="200">Patrocinador</th>
              <th width="200">Gerente</th>
              <th width="100">Início</th>
              <th width="200">Término</th>
              <th width="200">Orçamento</th>
              <th width="10" class="last-collumn"></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td width="100"><%= project.id.to_s.rjust(3,'0') %></td>
                <td width="800"><%= project.name %></td>
                <td width="800">
                  <% if project.corporation.present? %>
                    <%= project.corporation.name %>
                  <% else %>
                    <%= project.client.name %>
                  <% end %>
                </td>
                <td width="800">Contrato #<%= project.contract_id %></td>
                <td width="800"><%= project.sponsor %></td>
                <td width="800"><%= project.manager %></td>
                <td width="200"><%= project.start_date.strftime("%d/%m/%Y") %></td> 
                <td width="200"><%= project.end_date.strftime("%d/%m/%Y") %></td> 
                <td width="200"><%= number_to_currency(project.estimate, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                <td align="center" class="last-collumn">
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(project), class: 'btn btn-icon waves-effect waves-light btn-primary btn-xs', title: 'Editar' %>
                  <%= link_to '<i class="fa fa-times"></i>'.html_safe, project, method: :delete, data: { confirm: 'Ao remover uma empresa, registros de projetos e colaboradores vinculados a ela também serão removidos. Confirmar exclusão?' }, class: 'btn btn-icon waves-effect waves-light btn-danger btn-xs', title: 'Excluir' %></td>
              </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <section>
    <div class="container-alt">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="home-wrapper">
            <h1 class="home-text text-uppercase"><span class="text-pink"><%= current_user.username %></span></h1>
            <h4 class="text-muted">Antes de criar um projeto, é necessário que se cadastre ao menos uma empresa. Clique abaixo e cadastre uma empresa.</h4>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>
                <%= link_to new_corporation_path, class: "btn btn-default btn-md waves-effect waves-light m-b-30" do %>
                  Nova empresa
                <% end %>
              </p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
