<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Áreas</h4>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>Início<% end %>
      </li>
      <li class="active">
        Áreas
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title"><b></b></h4>
      <%= link_to new_area_path, class: "btn btn-default btn-md waves-effect waves-light m-b-30" do %>
        Nova área
      <% end %>

      <table data-toggle="table"
           data-show-columns="false"
           data-page-size="5"
           data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
        <thead>
          <tr>
            <th width="100">#</th>
            <th width="800">Nome</th>
            <th width="10"></th>
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
          <tr>
            <td width="100"><%= area.id.to_s.rjust(3,'0') %></td>
            <td width="800"><%= area.name %></td>
            <td>
              <%= link_to '', edit_area_path(area), class: 'fa fa-pencil', title: 'Editar' %>
              <%= link_to '', area, method: :delete, data: { confirm: 'Confirmar exclusão?' }, class: 'fa fa-trash-o', title: 'Excluir' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {


  // BOOTSTRAP TABLE - CUSTOM TOOLBAR
  // =================================================================
  // Require Bootstrap Table
  // http://bootstrap-table.wenzhixin.net.cn/
  // =================================================================
});


</script>
