<p id="notice"><%= notice %></p>

<p>
  <strong>Corporation:</strong>
  <%= @corporation_user.corporation %>
</p>

<p>
  <strong>User:</strong>
  <%= @corporation_user.user %>
</p>

<%= link_to 'Edit', edit_corporation_user_path(@corporation_user) %> |
<%= link_to 'Back', corporation_users_path %>
