<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @appointment.employee %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @appointment.contract %>
</p>

<p>
  <strong>Project:</strong>
  <%= @appointment.project %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @appointment.end %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @appointment.canceled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
