<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8" />
    <title>
      Effectime
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>      

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="widescreen fixed-left-void">
    <% if user_signed_in? %> 
      <div id="wrapper" class="enlarged forced"> 
        <div class="topbar" style="background-color: red">
          <div class="topbar-left">
            <div class="text-center">
              
              <%= image_tag 'logo.png', width: "100%", class: "logo" %>
            
            </div>
          </div>
             
          <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="">
                <ul class="nav navbar-nav navbar-right pull-right">
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true" style="background-color: #69535c">
                      <%= current_user.email %><i style="margin-left: 15px" class="icon-settings"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to destroy_user_session_path, :method => 'delete' do %>
                          <i class="ion-log-out  m-r-5"></i> Sair
                        <% end %>
                      </li>
                    </ul>
                  </li> 
                </ul>
              </div> 
            </div>
          </div>
        </div>

        <div class="left side-menu">
          <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
              <ul>
                <li>
                  <%= link_to index_companies_corporations_path, class: "waves-effect" do %>
                    <i class="fa fa-building"></i><span>Empresas</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to index_clients_corporations_path, class: "waves-effect" do %>
                    <i class="fa fa-user"></i><span>Clientes</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to contracts_path, class: "waves-effect" do %>
                    <i class="fa fa-file-text"></i><span>Contratos</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to projects_path, class: "waves-effect" do %>
                    <i class="fa fa-area-chart"></i><span>Projetos</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to appointments_path, class: "waves-effect" do %>
                    <i class="fa fa-calendar"></i><span>Agenda</span>
                  <% end %>
                </li> 
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

           
        <div class="content-page"> 
          <div class="content">
            <div class="container">
              <%= yield %> 
            </div>          
          </div>
          <footer class="footer text-center">
            Powered by: Tarcisio Saraiva 2018 ©.
          </footer> 
        </div>
      </div> 

    <% else %>
    	<%= yield %>
    <% end %>


    <script>
        var resizefunc = [];
    </script>

    <script type="text/javascript">
      $(document).ready(function(){  
        $("#company_id").change(function(){
          document.location.href = "/companies/" + $(this).val();
        });
      });
    </script> 
  </body>
</html>